
<h1 class="page-header">Your Appointments</h1>
<div class="slot-appointment">
  <div class="slot-card-details">

    <h1><%=  Date::DAYNAMES[Date.today.wday]  %></h1>

    <% @slots.each do |slot| %>
      <% if slot.date = Date.today %>
        <% if slot.booked %>
          <div class='time-slot d-flex'>
            <p class='slot-time d-flex'><%= slot.hour %> - <%= slot.hour + 1 %></p>
            <span>
            <%= cl_image_tag(User.find(slot.user_id).photo,width: 20, height:20, class:"appointment-avatar") %>
            <%= User.find(slot.user_id).first_name%></span>
          </div>
        <% else %>
          <div class='time-slot d-flex'>
             <p class='slot-time d-flex'><%= slot.hour %> - <%= slot.hour + 1 %></p>
             <label class="slot-label">Available</label>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<p><%= link_to "Home", root_path %></p>
<p> <%= link_to "New calendar entry", new_slot_path %> </p>
</div>
</div>
</div>

<div>
  <%= link_to "Updates", status_updates_path %>
  <%= link_to "Conversations", conversations_path %>
  <%= link_to "Calendar", slots_path %>
  <%= link_to "Circles", circles_path %>
</div>
