<div class="main-container">

  <div class="title">
    <h2>Calendar</h2>
  </div>

  <div class="body-container">
    <div class="slot-appointment">
      <div class="slot-card-details">
        <% @slots_by_day.each do |date, slots| %>
          <h2><%= Date::DAYNAMES[date.wday] %></h2>
          <% slots.each do |slot| %>
            <% if slot.date = Date.today %>
              <% if slot.booked && current_user.sick_status == true %>
                <div class='time-slot d-flex'>
                  <p class='slot-time d-flex'><%= slot.get_start_time.strftime('%l:%M %p') %> - <%= slot.get_end_time.strftime('%l:%M %p') %></p>
                  <span>
                  <%= cl_image_tag(User.find(slot.booker_id).photo,width: 20, height:20, class:"appointment-avatar") %>
                  <%= User.find(slot.booker_id).first_name%></span>
                </div>
              <% else %>
                <div class='time-slot d-flex'>
                  <p class='slot-time d-flex'><%= slot.get_start_time.strftime('%l:%M %p') %> - <%= slot.get_end_time.strftime('%l:%M %p') %></p>
                  <% if current_user.sick_status == true %>
                    <label class="slot-label book-button">Available</label>
                  <% else %>
                    <label class="slot-label book-button"> <%= link_to "Book", slot_path(slot) %></label>
                  <% end %>

                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <p> <%= link_to "New calendar entry", new_slot_path %> </p>
    </div>
    </div>
    </div>
  </div>
</div>
