
<div class="main-container">

  <div class="title">
    <h2 class="circles-title-grey"><%= link_to "Calendar", slots_path %></h2>
    <h2> / Wed - 11/09/19</h2>
  </div>

  <div class="body-container">
  <div class="booked-confirmation">
    <div class="booked-confirmation-info">
      <h2>Booking confirmation</h2>
      <div class="confirmation-card-details d-flex"><%= image_tag "cal.svg", alt: "alttext" %><%= Date::DAYNAMES[@slot.date.wday] %> - <%= @slot.date.strftime('%d.%m.%Y') %></div>
      <div class="confirmation-card-details d-flex"><%= image_tag "clock.svg", alt: "alttext" %><%= @slot.get_start_time.strftime('%l:%M %p') %> - <%= @slot.get_end_time.strftime('%l:%M %p')%></div>
      <div class="confirmation-card-details d-flex"><%= image_tag "room.svg", alt: "alttext" %> Room: 123, Building C </div>
      <div class="confirmation-card-details d-flex"><%= image_tag "pin.svg", alt: "alttext" %>1385 Jean Talon St E, Montreal, QC H2E 1S6<%= @slot.date%></div>
    </div>
    <div class="confirmation-card-details d-flex"><%= image_tag "map.svg", alt: "alttext", style: "width: 100%" %></div>
  </div>
</div>
</div>
