
<div class="conversation-message-card  <%= message.user == current_user ? "message-current-user" : "message-other-user" %>">
  <%= cl_image_tag message.user.photo, crop: "scale", class: "avatar" %>
  <div class="conversation-content drop-shadow">
    <div>
      <p><%= message.user.fullname %></p>
      <p><%= message.created_at.strftime("%l:%M %p") %></p>
    </div>
    <p><%= message.content %></p>
  </div>
</div>
