<div class="main-container">

  <div class="title">
    <h2>Messages</h2>
  </div>

  <div class="body-container body-container-conversation-page">
    <div class="conversations-container">
    </div>
  </div>

  <% if current_user.sick_status == true %>
    <div class="add-button-green">
      <a href= <%= new_conversation_path %> >
      <p> + </p>
    </div>
  <% end %>

</div>

<script>
  var conversationArray = [];
  var convoContainer = document.querySelector('.conversations-container');
  var convo = undefined;

  <% @conversations.each do |conversation| %>
    var convo = `
    <div class="conversation-card drop-shadow animated slideInUp <%= conversation.notifications.where(user: current_user).count > 0 ? 'unread-conversation' : 'old-conversation' %> ">
        <% if conversation.conversation_members.count <= 2 %>
          <div class="images-conversation single-avatar">
            <% conversation.conversation_members.each do |conversation_member| %>
              <% next if conversation_member.user == current_user  %>
              <%= cl_image_tag conversation_member.user.photo, width: 250, crop: "scale", class: "avatar" %>
            <% end %>
          </div>
          <% else %>
          <div class="images-conversation multiple-avatars">
            <% conversation.conversation_members[0..2].each do |conversation_member| %>
              <% next if conversation_member.user == current_user  %>
              <%= cl_image_tag conversation_member.user.photo, width: 250, crop: "scale", class: "avatar" %>
            <% end %>
          </div>
        <% end %>

        <div class="conversation-content">
          <% if conversation.conversation_members[0].user == current_user %>
            <h3 class="name">
              <%= link_to conversation.conversation_members.second.user.first_name + " " + conversation.conversation_members.second.user.last_name, conversation_path(conversation)%>
            </h3>
          <% else %>
            <h3 class="name">
                <%= link_to conversation.conversation_members.first.user.first_name + " " + conversation.conversation_members.first.user.last_name, conversation_path(conversation)%>
              </h3>
          <% end %>
          <p class="content">
            <%= conversation.messages.last.content[0,45] + '...' %>
          </p>
        </div>

        <div class="conversation-footer">
          <% badge_count = current_user.notifications.where(conversation: conversation).count %>
          <% if badge_count == 0 %>
            <div></div>
          <% else %>
            <div class="badge"> <%= badge_count %></div>
          <% end %>
          <p> <%= conversation.created_at.strftime("%d.%m.%y") %> </p>
        </div>
    </div>
    `;
    conversationArray.push(convo);
  <% end %>

  function insertConvos() {
    convo = conversationArray.splice(0,1);
    convoContainer.insertAdjacentHTML('beforeend', convo);
  };

  document.addEventListener('DOMContentLoaded', (event) => {
    setInterval(function() {insertConvos()}, 115);
  })
</script>
