<h1>Overview of conversations</h1>

<ul>
  <% @conversations.each do |conversation| %>
    <li>
      <%= conversation.name %>
      <ul>
        <% conversation.conversation_members.each do |conversation_member| %>
          <li><%= link_to conversation_member.user.first_name, conversation_path(conversation)%> <%=conversation_member.user.last_name %></li>
        <% end %>
      </ul>
    </li>

  <% end %>
</ul>

<p> <%= link_to "New Conversation", new_conversation_path %> </p>

<p> <%= link_to "Home", root_path %> </p>

