<p></p>
<p></p>
<%= link_to "Conversations", conversations_path %>
<p></p>
<h1 class="page-header">Messages/<%= @conversation.name %></h1>


<div>
  <% @conversation.messages.each do |message| %>
  <%= render 'messages/card', message: message  %>
  <% Notification.where(user: current_user, conversation: @conversation).destroy_all %>
  <% end %>
</div>

<div class="messages-new">
  <%= render 'messages/form', message: @message, conversation: @conversation %>
</div>

<%= link_to "Conversations overview", conversations_path %>

<div>
  <%= link_to "Updates", status_updates_path %>
  <%= link_to "Conversations", conversations_path %>
  <%= link_to "Calendar", slots_path %>
  <%= link_to "Circles", circles_path %>
</div>
