<div class="main-container">

  <div class="title">
    <h2 class="circles-title-grey"><%= link_to "Messages", conversations_path %></h2>
    <h2> / <%= @conversation.conversation_members[1].user.first_name %></h2>
  </div>

  <div class="body-container">

  <div class="conversations-container">
    <% @conversation.messages.each_with_index do |message, index| %>
    <div>
      <% if @conversation.messages[index - 1].created_at.strftime("%d.%m.%y") != message.created_at.strftime("%d.%m.%y") %>
        <div class="message-date">
          <hr>
          <p><span> <%= message.created_at.strftime("%d.%m.%y") %> </span>
            </p>
        </div>


        <% end %>
        <%= render 'messages/card', message: message  %>
        </div>
      <% end %>
    </div>

  <div class="messages-new">
    <%= render 'messages/form', message: @message, conversation: @conversation %>
  </div>

</div>
