<div class="main-container">

  <div class="title">
    <h2>Add your update here</h2>
  </div>

  <div class="body-container">

    <%= simple_form_for @status_updates do |f| %>
      <%= f.input :title, wrapper_html: {class: "xxx"}  %>
      <%= f.input :content, wrapper_html: {class: "xxx"} %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :circles, as: :select, collection: @circles %>

      <%= f.button :submit, value: "Post update", class: 'btn btn-lg btn-primary big-btn-form' %>
    <% end %>

  </div>

</div>
