<div class="main-container">

  <div class="title">
    <h2 class="circles-title-grey"><%= link_to "Updates", status_updates_path %></h2>
    <h2> / <%= @status_update.title %></h2>
  </div>

  <div class="body-container">

    <div class="updates-card drop-shadow">
      <div class="updates-card-header d-flex">
        <p> <%=@status_update.updated_at.strftime("%B %d, %y")%> </p>
        <div class="updates-circle">
          <h3>
            <%= image_tag("circles.svg") %> <%= @status_update.circles.pluck(:name).join(", ") %>
          </h3>
        </div>

      </div>
      <div class="updates-card-content">
        <h3><%= @status_update.title %></h3>
        <p> <%= @status_update.content %> </p>

      </div>
      <div class="updates-image-details">
          <%= cl_image_tag @status_update.photo, crop: :fill %>
      </div>
      <div class="updates-card-footer">
        <p>Update posted by Chloe</p>
      </div>
    </div>

  </div>

</div>
