<ul class="footer">
  <li class="footer-item active">
    <%= link_to root_path, class: "footer-home-link" do %>
      <%= image_tag "home.svg" %>
      <% end %>
  </li>
  <li class="footer-item">
    <%= link_to status_updates_path, class: "footer-updates-link" do %>
      <%= image_tag "updates.svg" %>
      <% end %>
  </li>
  <li class="footer-item">
    <%= link_to slots_path, class: "footer-calendar-link" do %>
      <%= image_tag "calendar.svg" %>
      <% end %>
  </li>
  <li class="footer-item">
    <%= link_to "#", class: "footer-wishlist-link" do %>
      <%= image_tag "wishlist.svg" %>
      <% end %>
  </li>
  <li class="footer-item">
    <%= link_to "#", class: "footer-more-link" do %>
      <%= image_tag "more.svg" %>
      <% end %>
  </li>
</ul>
