<div class="navbar">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "sava.svg" %>
    <% end %>

  <div class="navbar-items">
    <% if user_signed_in? %>
      <div class="navbar-icons">
        <li class="navbar-item">
          <%= link_to "#", class: "navbar-notifications-link" do %>
            <%= image_tag "notifications.svg" %>
          <% end %>
        </li>
        <li class="navbar-item messages">
          <%= link_to conversations_path, class: "navbar-messages-link" do %>
            <% if params[:controller] == "conversations" %>
              <%= image_tag "messages-on.svg" %>
             <% else %>
              <%= image_tag "messages.svg" %>
              <% @counter = 0 %>
              <% Conversation.all.each do |conversation| %>
              <% conversation.notifications.any? ? @counter += conversation.notifications.count : ""  %>
              <% end %>
              <div class="notification"> <%= @counter %></div>
            <% end %>
          <% end %>
        </li>
        <li class="navbar-item">
          <%= link_to circles_path, class: "navbar-circles-link" do %>
            <% if params[:controller] == "circles" %>
              <%= image_tag "circles-on.svg" %>
            <% else %>
              <%= image_tag "circles.svg" %>
            <% end %>
          <% end %>
        </li>
      </div>

      <div class="navbar-avatar">
        <li class="navbar-item dropdown">
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", "#", class: "dropdown-item" %>
            <%= link_to "Settings", "#", class: "dropdown-item" %>
            <%= link_to "Help", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </div>

    <% else %>
      <div class="navbar-login">
        <li class="navbar-item">
          <%= link_to "Login", new_user_session_path, class: "navbar-login-link" %>
        </li>
      </div>

    <% end %>
  </div>
</div>
