<div class="main-container">
  <div class="body-container" style="margin-top:0px">
    <div class="homepage-container" style="margin-bottom: 20px">
      <div>
        <h1 style="padding-left: 0px;"> Hi <%= current_user.first_name %> </h1>
        <p>how are you feeling?</p>
      </div>
      <div>
        <%= image_tag("smile.svg", width: 100, height: 100) %>
      </div>
    </div>
    <div class="homepage-section">
    <h3>Milestones</h3>
      <div class="home-page-milestone">
        <p>Diagnosis: leukemia, in treatment for 7 days<br/>
        Next milestone: chemo in 3 days </p>
      </div>
    </div>
    <div class="homepage-section">
      <h3>Your next appointments</h3>

      <div>
        <% @slots.each do |slot|%>
             <% if current_user.sick_status == true %>
              <div class='time-slot d-flex'>
                <p class='slot-time d-flex'><%= slot.get_start_time.strftime('%l:%M %p') %> - <%= slot.get_end_time.strftime('%l:%M %p') %></p>
                <span>
                <%= cl_image_tag(User.find(slot.booker_id).photo,width: 20, height:20, class:"appointment-avatar") %>
                <%= User.find(slot.booker_id).first_name%></span>
              </div>
            <% else %>
              <div class='time-slot d-flex'>
                <p class='slot-time d-flex'><%= slot.get_start_time.strftime('%l:%M %p') %> - <%= slot.get_end_time.strftime('%l:%M %p') %></p>
                <div>
                  <%= cl_image_tag(User.find(slot.user_id).photo,width: 20, height:20, class:"appointment-avatar") %>
                  <%= User.find(slot.user_id).first_name%></span>
                </div>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
      <br>
      <h3>Latest update</h3>
        <div>
          <div>
          <% @slots.each do |slot|%>
            <div class="homepage-appointment homepage-appointment-img">
              <div class="d-flex">
                <%= image_tag("time.svg") %>
                <span> <%=slot.date.strftime("%d.%m.%y")%> at </span>
                <span> <%=slot.hour%>h - <%=(slot.hour + 1)%>h</span>
              </div>
              <div class="d-flex">
                <% if current_user.sick_status == true %>
                  <%= cl_image_tag(User.find(slot.booker_id).photo,width: 20, height:20, class:"appointment-avatar") %>
                  <span><%=User.find(slot.booker_id).first_name%></span>
                <% end %>
              </div>
            </div>
          <% end %>
          </div>
        <br>
        <h3>Latest update</h3>
          <div>
            <% unless @update.nil? %>
              <div class="updates-card drop-shadow">

                <div class="updates-card-header d-flex">

                  <p> <%= @update.created_at.strftime("%B %d, %y")%> </p>
                  <div class="updates-circle">
                    <h3>
                      <%= image_tag("circles.svg") %>
                    </h3>
                  </div>

                </div>
                <div class="updates-card-content">
                  <h3><%= link_to @update.title, status_update_path(@update) %></h3>
                  <p> <%= @update.content[0,150] %> ... </p>
                  <div class="updates-link-show">
                    <p> <%= link_to "...continue reading", status_update_path(@update) %></p>

                  </div>
                </div>
                <div class="updates-image">
                    <%= cl_image_tag @update.photo, crop: :fill %>
                </div>
                <div class="updates-card-footer">
                  <p>Update posted by Chloe</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

  </div>
</div>
