<div class="main-container">
  <div class="body-container" style="margin-top:0px">
    <div class="homepage-container" style="margin-bottom: 20px">
      <div>
        <h1 style="padding-left: 0px;"> Hi <%= current_user.first_name %> </h1>
        <% if current_user.sick_status == true %>
          <p>how are you feeling?</p>
        <% else %>
          <% User.all.each do |user| %>
            <% if user.sick_status == true %>
              <p> <%= user.first_name %>'s mood today: </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= image_tag("smile.svg", width: 100, height: 100) %>
      </div>
    </div>
    <div class="milestones animated slideInUp delay-0.5s">
      <h2 class="milestones_title">Milestones</h2>
      <div class="milestones-table">
        <div class="milestones-icon">
          <%= image_tag("milestones.svg") %>
        </div>
        <div class="milestones-stages">
          <div class="milestones-stages-1">
            <p class="date">23/08/2019</p>
            <p class="stage">Diagnosis: leukemia stage II</p>
          </div>
          <div class="milestones-stages-2">
            <p class="date">30/08/2019</p>
            <p class="stage">Immunotherapy starting</p>
          </div>
          <div class="milestones-stages-3">
            <p class="date">13/09/2019</p>
            <p class="stage">Splenectomy surgery</p>
          </div>
          <div class="milestones-stages-4">
            <p class="date">27/09/2019</p>
            <p class="stage">Biological therapy</p>
          </div>
        </div>
      </div>
    </div>


    <div class= "homepage-slots animated slideInUp delay-0.5s">

      <% if current_user.sick_status == true %>
      <h2>Your next appointments</h2>
        <% @slots.each do |slot|%>
          <% if current_user.sick_status == true %>
            <div class="homepage-slot">

              <div class="homepage-slot-date">
                <div class="homepage-slot-day">
                  <%= image_tag("time-darkgrey.svg") %>
                  <p> <%=slot.date.strftime("%d.%m.%y")%></p>
                </div>

                <div class="homepage-slot-time">
                <%= image_tag("calendar-darkgrey.svg") %>
                <p class='slot-time d-flex'><%= slot.get_start_time.strftime('%l:%M %p') %> - <%= slot.get_end_time.strftime('%l:%M %p') %></p>
                </div>
              </div>

              <div class="homepage-slot-visitor">
                <%= cl_image_tag(User.find(slot.booker_id).photo, width: 250, crop: "scale", class:"appointment-avatar") %>
                <p><%= User.find(slot.booker_id).first_name%></p>
              </div>
            </div>

          <% else %>

            <div class="homepage-slot">

              <div class="homepage-slot-date">
                <div class="homepage-slot-day">
                  <%= image_tag("time-darkgrey.svg") %>
                  <p> <%=slot.date.strftime("%d.%m.%y")%></p>
                </div>

                <div class="homepage-slot-time">
                <%= image_tag("calendar-darkgrey.svg") %>
                <p class='slot-time d-flex'><%= slot.get_start_time.strftime('%l:%M %p') %> - <%= slot.get_end_time.strftime('%l:%M %p') %></p>
                </div>
              </div>

              <div class="homepage-slot-visitor">
                <%= cl_image_tag(User.find(slot.user_id).photo,width: 20, height:20, class:"appointment-avatar") %>
                <p><%= User.find(slot.user_id).first_name%></p>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>

      <div class= "homepage-updates animated slideInUp delay-0.5s">
        <h2>Latest update</h2>
          <div>
            <% unless @update.nil? %>
              <div class="updates-card drop-shadow">

                <div class="updates-card-header d-flex">

                  <p> <%= @update.created_at.strftime("%B %d, %y")%> </p>
                  <div class="updates-circle">
                    <h3>
                      <%= image_tag("circles.svg") %>
                    </h3>
                  </div>

                </div>
                <div class="updates-card-content">
                  <h3><%= link_to @update.title, status_update_path(@update) %></h3>
                  <p> <%= @update.content[0,150] %> ... </p>
                  <div class="updates-link-show">
                    <p> <%= link_to "...continue reading", status_update_path(@update) %></p>

                  </div>
                </div>
                <div class="updates-image">
                    <%= cl_image_tag @update.photo, crop: :fill %>
                </div>
                <div class="updates-card-footer">
                  <p>Update posted by Chloe</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
