<div class="homepage-container">
  <div class="homepage-banner">
    <div>
      <h1>Hi <%= current_user.first_name %></h1>
      <p>how are you feeling?</p>
    </div>
  </div>
  <div class="homepage-card">
    <div class="homepage-card-details">

    </div>
    <h2>Today's Appointment</h2>
      <% @slots.each do |slot|%>
        <div class="homepage-appointment">
          <div class="d-flex">
            <%= image_tag("icon-clock.svg") %>
            <span> <%=slot.hour%></span>
          </div>
         <div class="d-flex">
            <%= cl_image_tag(User.find(slot.user_id).photo,width: 20, height:20, class:"appointment-avatar") %>
            <span><%=User.find(slot.user_id).first_name%></span>
          </div>
        </div>
      <% end %>
  </div>

<div>
  <%= link_to "Updates", status_updates_path %>
  <%= link_to "Conversations", conversations_path %>
  <%= link_to "Slots", slots_path %>
  <%= link_to "Circles", circles_path %>
</div>

</div>
