<div class="main-container">

  <div class="title">
    <h2>Wishlists</h2>
  </div>

  <div class="body-container">

    <div class= "wishlistitem-cards animated slideInUp delay-0.5s">

      <div class= "wishlistitem-card">
        <div class= "wishlistitem-card-top">
          <div class= "wishlistitem-card-type">
            <%= image_tag("shopping.svg") %>
            <p>Shopping</p>
          </div>
          <div class= "wishlistitem-card-name">
            <h3>Dry Shampoo</h3>
          </div>
          <div class= "wishlistitem-card-circles">
            <%= image_tag("circles-grey.svg") %>
            <p>Friends</p>
          </div>
        </div>
        <div class= "wishlistitem-cards-bottom">
          <div class= "wishlistitem-card-content">
            <div class= "wishlistitem-card-details">
              <div class= "wishlistitem-card-text">
                <p>I would love to get a shampoo, the one from the hospital smells really bad!</p>
              </div>
              <div class= "wishlistitem-card-date">
                <div class= "wishlistitem-card-day">
                  <%= image_tag("calendar-grey.svg") %>
                  <p> Asap </p>
                </div>
                <div class= "wishlistitem-card-time">
                  <%= image_tag("time.svg") %>
                  <p> - </p>
                </div>
              </div>
              <div class= "wishlistitem-card-place">
                <%= image_tag("place.svg") %>
                <p>Hospital Jean-Talon, 1385 Jean Talon... </p>
              </div>
            </div>
          </div>
          <div class="wishlistitem-card-bottom-right" >
            <div class= "wishlistitem-card-picture">
              <%= image_tag("dry-shampoo.jpg") %>
            </div>
            <div class= "wishlistitem-card-button">
              <p>Take</p>
            </div>
          </div>
        </div>
      </div>

      <div class= "wishlistitem-card">
        <div class= "wishlistitem-card-top">
          <div class= "wishlistitem-card-type">
            <%= image_tag("task.svg") %>
            <p>Task</p>
          </div>
          <div class= "wishlistitem-card-name">
            <h3>Mow the yard</h3>
          </div>
          <div class= "wishlistitem-card-circles">
            <%= image_tag("circles-grey.svg") %>
            <p>Friends</p>
          </div>
        </div>
        <div class= "wishlistitem-cards-bottom">
          <div class= "wishlistitem-card-content">
            <div class= "wishlistitem-card-details">
              <div class= "wishlistitem-card-text">
                <p>Is anybody available to mow my yard?!</p>
              </div>
              <div class= "wishlistitem-card-date">
                <div class= "wishlistitem-card-day">
                  <%= image_tag("calendar-grey.svg") %>
                  <p> next week </p>
                </div>
                <div class= "wishlistitem-card-time">
                  <%= image_tag("time.svg") %>
                  <p> - </p>
                </div>
              </div>
              <div class= "wishlistitem-card-place">
                <%= image_tag("place.svg") %>
                <p>4352 rue Brebeuf, Montreal, QC H2J...</p>
              </div>
            </div>
          </div>
          <div class="wishlistitem-card-bottom-right" >
            <div class= "wishlistitem-card-picture">
              <%= image_tag("mow-yard.jpg") %>
            </div>
            <div class= "wishlistitem-card-button">
              <p>Take</p>
            </div>
          </div>
        </div>
      </div>

      <div class= "wishlistitem-card">
        <div class= "wishlistitem-card-top">
          <div class= "wishlistitem-card-type">
            <%= image_tag("pickup.svg") %>
            <p>Pick Up</p>
          </div>
          <div class= "wishlistitem-card-name">
            <h3>Kids from School</h3>
          </div>
          <div class= "wishlistitem-card-circles">
            <%= image_tag("circles-grey.svg") %>
            <p>Friends</p>
          </div>
        </div>
        <div class= "wishlistitem-cards-bottom">
          <div class= "wishlistitem-card-content">
            <div class= "wishlistitem-card-details">
              <div class= "wishlistitem-card-text">
                <p>Grandma is not available next Thursday to pick up Milena and Leon from school. Is anybody available?</p>
              </div>
              <div class= "wishlistitem-card-date">
                <div class= "wishlistitem-card-day">
                  <%= image_tag("calendar-grey.svg") %>
                  <p> Thu 12/09/19 </p>
                </div>
                <div class= "wishlistitem-card-time">
                  <%= image_tag("time.svg") %>
                  <p> 5pm </p>
                </div>
              </div>
              <div class= "wishlistitem-card-place">
                <%= image_tag("place.svg") %>
                <p>School Arc En Ciel, 4565 Avenue Laval...</p>
              </div>
            </div>
          </div>
          <div class="wishlistitem-card-bottom-right" >
            <div class= "wishlistitem-card-picture">
              <%= image_tag("school.JPG") %>
            </div>
            <div class= "wishlistitem-card-button">
              <p>Take</p>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="add-button-green">
      <a href= # >
      <p> + </p>
    </div>

  </div>

</div>
