<div class="main-container">

  <div class="title">
    <h2>More Features</h2>
  </div>

  <div class="body-container">

  <div class="features-cards">

    <div class="features-card">
      <%= image_tag("fundraising.svg") %>
        <p>Fundraising</p>
        <span>Start fundraising today for the person you care about</span>
    </div>

    <div class="features-card">
      <%= image_tag("supports.svg") %>
        <p>Support Group</p>
        <span>Connect with other caretakers, be part of amazing support group</span>
    </div>

    <div class="features-card">
      <%= image_tag("emotions.svg") %>
        <p>Emotional Health</p>
        <span>Be aware of your emotions and control them</span>
    </div>

    <div class="features-card">
      <%= image_tag("treatment.svg") %>
        <p>Treatment Milestones</p>
        <span>Physical, Social, Emotional & Cognitive milestones to watch</span>
    </div>

    <div class="features-card">
      <%= image_tag("metrics.svg") %>
        <p>Medical Metrics</p>
        <span>Track your medical metrics to better understand your situation</span>
    </div>

    <div class="features-card">
      <%= image_tag("medication.svg") %>
        <p>Medication reminder</p>
        <span>Stay healthy and remember to take your medication</span>
    </div>

    <div class="features-card">
      <%= image_tag("bandwizard.svg") %>
        <p>BandWizard</p>
        <span>Match musicians according to their musical taste, location and experience</span>
    </div>

    <div class="features-card">
      <%= image_tag("golfybuddy.svg") %>
        <p>Golfy Buddy</p>
        <span>Connect golf players & help them enjoy more great rounds hassle-free</span>
    </div>

    <div class="features-card">
      <%= image_tag("mockey.svg") %>
        <p>Mockey</p>
        <span>Get your groceries delivered to your doorstep for free!</span>
    </div>

    <div class="features-card">
      <%= image_tag("sharein.svg") %>
        <p>ShareIn</p>
        <span>Track your medical metrics to better understand your situation</span>
    </div>

    <div class="features-card">
      <%= image_tag("devforgood.svg") %>
        <p>DevForGood</p>
        <span>Match learning developers with nonprofits with limited funding</span>
    </div>


  </div>

</div>
