
<div class="main-container">

  <div class="title">
    <h2 >Circles</h2>
  </div>

  <div class="circles-container">

    <div class="circles-cards">

      <div class="circles-card">
        <ul>
          <% @circles.each do |circle| %>
            <a href= <%= circle_path(circle) %> >
            <li>

              <div class="circles-card-round animated fadeIn fast">
                <h3><%= circle.name %></h3>

                <ul>
                  <div class="circles-card-avatar-1 animated fadeIn delay-1s">
                    <% if circle.circle_members.count<1 %>
                      <li></li>
                    <% else %>
                      <li><%= cl_image_tag circle.circle_members[0].user.photo, width: 250, crop: "scale" %></li>
                    <% end %>
                  </div>

                  <div class="circles-card-avatar-2 animated fadeIn delay-2s">
                    <% if circle.circle_members.count<2 %>
                      <li></li>
                    <% else %>
                      <li><%= cl_image_tag circle.circle_members[1].user.photo, width: 250, crop: "scale" %></li>
                    <% end %>
                  </div>

                  <div class="circles-card-avatar-3 animated fadeIn delay-3s">
                    <% if circle.circle_members.count<3 %>
                      <li></li>
                    <% else %>
                      <li><%= cl_image_tag circle.circle_members[2].user.photo, width: 250, crop: "scale" %></li>
                    <% end %>
                  </div>

                  <div class="circles-card-avatar-4 animated fadeIn delay-4s">
                    <% if circle.circle_members.count<4 %>
                      <li></li>
                    <% else %>
                      <li><%= cl_image_tag circle.circle_members[3].user.photo, width: 250, crop: "scale" %></li>
                    <% end %>
                  </div>

                  <div class="circles-card-avatar-5 animated fadeIn delay-5s">
                    <% if circle.circle_members.count<5 %>
                      <li></li>
                    <% else %>
                      <li><%= cl_image_tag circle.circle_members[4].user.photo, width: 250, crop: "scale" %></li>
                    <% end %>
                  </div>

                  <div class="circles-card-avatar-6 animated fadeIn delay-6s">
                    <% if circle.circle_members.count<6 %>
                      <li></li>
                    <% else %>
                      <li><%= cl_image_tag circle.circle_members[5].user.photo, width: 250, crop: "scale" %></li>
                    <% end %>
                  </div>

                  <div class="circles-card-avatar-7">
                    <% if circle.circle_members.count<7 %>
                      <li></li>
                    <% else %>
                      <li><%= cl_image_tag circle.circle_members[6].user.photo, width: 250, crop: "scale" %></li>
                    <% end %>
                  </div>


                  <div class="circles-card-avatar-8">
                    <% if circle.circle_members.count<8 %>
                      <li></li>
                    <% else %>
                      <li><%= cl_image_tag circle.circle_members[7].user.photo, width: 250, crop: "scale" %></li>
                    <% end %>
                  </div>

                  <div class="circles-card-avatar-9">
                    <% if circle.circle_members.count<9 %>
                      <li></li>
                    <% else %>
                      <li><%= cl_image_tag circle.circle_members[8].user.photo, width: 250, crop: "scale" %></li>
                    <% end %>
                  </div>

                  <div class="circles-card-avatar-10">
                    <% if circle.circle_members.count<10 %>
                      <li></li>
                    <% else %>
                      <li><%= cl_image_tag circle.circle_members[9].user.photo, width: 250, crop: "scale" %></li>
                    <% end %>
                  </div>

                  <div class="circles-card-delete">
                      <li><%= image_tag "delete.svg"%></li>
                  </div>

                </ul>
              </div>
            </li>
            </a>
          <% end %>
        </ul>
      </div>
    </div>

  </div>

  <div class="add-button-green">
    <a href= <%= new_circle_path %> >
    <p> + </p>
  </div>

</div>
