
<div class="main-container">

  <div class="title">
    <h2 class="circles-title-grey"><%= link_to "Circles", circles_path %></h2>
    <h2> / <%= @circle.name %></h2>
  </div>

  <div class="circles-container">
    <div class="circle-members-cards">
      <ul>
        <% @circle.circle_members.each do |circle_member| %>
          <div class="circle-members-card">
            <div class="circle-members-content">
              <li>
                <div class="circle-members-avatar">
                  <%= cl_image_tag circle_member.user.photo, width: 250, crop: "scale" %>
                </div>
              </li>
              <li>
                <div class="circle-members-fullname">
                  <%= circle_member.user.fullname %>
                </div>
              </li>
            </div>
            <div class="circle-members-card-delete">
              <%= image_tag "delete.svg"%>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="add-button-green" id="edit-circle-button"><p>+</p>
  </div>
  <div class="popup animated fadeInUp" id="popup-create-member" style="display: none;">

    <div class= "cancel-button" id="cancel-popup-create-member">Cancel</div>

      <h2 class= "popup-title">Add a member to <%= @circle.name %> </h2>

    <div class="add-members-form">

      <%= simple_form_for([@circle, @circle_member]) do |f| %></div>
        <div class="form"><%= f.input :email, label: 'Email address', placeholder: 'sava@email.com', error: 'Username is mandatory, please specify one' %></div>
        <div class="add-button"><%= f.submit 'Add' %></div>
      <% end %>
    </div>
  </div>
</div>
